* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 18px;
}

.App {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    padding: 1em;
    width: 50%;
    margin: 0 auto;
}

#todo-add {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    justify-content: space-between;
}
#todo-text {
    flex: 3;
}

.todo-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}
